
body {
	background-color: #FAF7E4;
	color: black;
	/*font-family: sans-serif;*/
	position: relative;
	left: 15%;
	width: 70%;
    text-align: justify;
	/*font-size: 12px;*/
}

div.p {
    padding-bottom: 0em;
    /* The debug border: */
    /* border: thin silver solid; */
}
div.p + div.p { padding-top: 1.5em; }

div.header {
    text-align: center;
}
h1 {           font-size: 250%; font-variant: small-caps; }
div.authors {  font-size: 200%; line-height: 200%; }
div.subtitle { font-size: 200%; font-style: italic; }
h2 {           font-size: 210%; border-bottom: 1px solid #000;}
h3 {           font-size: 180%; padding-top: 0.1em;padding-bottom: 0.05em;}
h4 {           font-size: 150%; padding-top: 0.1em;padding-bottom: 0.05em;}
h5 {           font-size: 125%; padding-top: 0.1em;padding-bottom: 0.05em;}

code, pre {
	font-family: monospace;
	letter-spacing: 1px;
}
pre {
	border: dashed;
	border-width: thin;
    border-color: #dddddd;
	position: relative;
    background-color: #eeeeee;
	left: 8%;
	width: 70%;
    clear: both;
	/*padding-bottom: 1em;*/
}

ul, ol {
    padding-top: 0em;
    padding-bottom: 0em;
    /* The debug border: */
    /* border: thin silver solid; */
}

div.figure {
    /* float: right; */
    text-align: center;
    /* text-indent: 10%; */
    /* width: auto; */
    /* border: thin silver solid; */
    /* float: center; */
    margin: 0.5em;
    padding: 0.5em;
}

table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse
}
caption {
    caption-side:bottom
}
td, th {
    padding: 0.3em;
	/*left: 3%;*/
}
/*
small.note {
    left: 0;
    margin-left: -170px;
    margin-right: 0;
}*/
small.notebegin { counter-increment: footnote; }
small.noteend:before {  content: counter(footnote) }
small.note:before {  content: counter(footnote) ": " }

small.note {
    /*margin-right: -170px;*/
    /*position: absolute;*/
    /*position: float;*/
    float:right;
    clear: right;
    /*right: 0;*/
    width: 150px;
    border: thin silver solid;
    margin: 0.3em;
    padding: 0.3em;
}


h1 { 
    counter-reset: section;
    counter-reset:footnote;
}

h2:before { content: counter(section) ". "; }
 
h2 {
    counter-reset: subsubsection;
    counter-increment: section;
    counter-reset: subsection;
}
 
h3:before {
    content: counter(section) "." counter(subsection) ". " ;
}
 
h3 {
    counter-increment: subsection;
    counter-reset: subsubsection;
}

h4:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
}
 
h4 {
    counter-increment: subsubsection;
}
